@charset "ISO-8859-1";

p {
	font-weight: bolder;
	text-indent: 20px;
	padding-bottom: 5px;
}

ul {
  list-style: none;
}

fieldset {
	padding: 10px 80px 50px 15px;
	border-width: 5px;
	border-color: #a2a2bf;
}

#customerProfile {
	display: inline;
}

#userTitleDisplay {
	float: left;
	padding-left: 50px;
}

#userNavField {
	float: left;
	display: block;
	margin-top: 20px;
}

#userFormDisplay {
	display: inline-block;
	position: relative;
	left: 200px;
}

#checkbox {
	float: right;
}

#hidden {
	display: none;
}

#reveal {
	display: static;
}

.floatRight {
	float: right;
}

.padding {
	padding-top: 50px;
	padding-bottom: 15px;
}